.container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(111, 255, 130);
}

h3 {
  text-align: center;
  align-items: center;
}

img {
  width: 100px;
  padding: 20px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 2px 1px 5px  rgb(104, 104, 104);
}